.name {
  font-size: 12pt;
  width: 60%;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  .name {
    display: none;
  }
}

.emoji-small {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(54, 20, 54);
  background: #a52a6e;
  width: 48px;
  height: 48px;
  line-height: 42px;
  font-size: 24pt;
  text-align: center;
}

.match-item {
  width: 100%;
  display: inline-flex;
}
