@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
.feed-container {
    background-color: rgb(109, 141, 182);
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}
  
.vibe {
    width: 35%;
    float: right;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    font-family: Pattaya;
    font-size: 12pt;
    padding: 10px;
    margin-right: 1px;
    background-color: rgb(110, 165, 199);
    padding-bottom: 30px;
}

.post-container {
    margin-left: 2px;
    width: 64%;
    background-color: rgb(109, 141, 182);
}

.posts {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}



.post-card {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    margin: 10px;
    background: #499ae6; 
}


body, html {
    height: 100%;
    background-color: rgb(109, 141, 182);
}

.vote-count {
    text-align: right;
}

.vote {
    text-align: left;
}