.feed-container {
  background-color: rgb(109, 141, 182);
}

.post-container {
  padding: 5px 5%;
}

@media only screen and (max-width: 400px) {
  .post-container {
    padding: 0px 10px;
  }
}

.posts {
  padding: 20px 0px 40px;
}

.vote-count {
  text-align: right;
}

.vote {
  text-align: left;
}

.vibe {
  padding: 5px 5% 10px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .vibe {
    padding: 5px 20px 10px;
    text-align: center;
  }
}
